<!doctype html>

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">

<dom-module id="insurance-plan-hdhp">
  <template>
    <style>
      paper-card {
        box-sizing: border-box;
        max-width: 275px;
        margin: 4px;
        padding: 4px;
        flex: 0 0 auto;
      }
    </style>
    <paper-card heading="{{planName}}">
      <paper-input label="Annual Premium" type="number" value="{{premium}}">
        <div prefix>$</div>
      </paper-input>
      <paper-input label="Annual deductible" type="number" value="{{deductible}}">
        <div prefix>$</div>
      </paper-input>
      <paper-input label="Annual coinsurance max" type="number" value="{{coinsuranceMax}}">
        <div prefix>$</div>
      </paper-input>
      <paper-input label="Coinsurance rate" type="number" value="{{coinsuranceRate}}">
        <div suffix>%</div>
      </paper-input>

      <div>
        <paper-dropdown-menu label="Savings Account Type">
          <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{savingsAccountType}}">
            <paper-item value="HSA">HSA</paper-item>
            <paper-item value="HRA">HRA</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
      </div>
      <paper-input label="Employer Savings Contribution" type="number" value="{{savingsAccountContribution}}">
        <div prefix>$</div>
      </paper-input>

    </paper-card>
  </template>
  <script>
    Polymer({
      is: 'insurance-plan-hdhp',
      properties: {
        planName: {
          type: String,
          notify: true,
        },
        coverageLevel: {
          type: String,
          notify: true,
        },
        premium: {
          type: Number,
          // value: 1000,
        },
        deductible: {
          type: Number,
          // value: 2000,
        },
        coinsuranceMax: {
          type: Number,
          // value: 2000,
        },
        coinsuranceRate: {
          type: Number,
          // value: 20,
        },
        savingsAccountType: {
          type: String,
          value: 'HSA',
        },
        savingsAccountContribution: {
          type: Number,
          //value: 1000,
        },
        customPlan: {
          type: Object,
          notify: true,
          computed: '_buildCustomPlan(planName, coverageLevel, premium, deductible, coinsuranceMax, coinsuranceRate, savingsAccountType, savingsAccountContribution)',
        },
      },
      _buildCustomPlan: function (
        planName, coverageLevel, premium, deductible, coinsuranceMax,
        coinsuranceRate, savingsAccountType, savingsAccountContribution) {
        var plan = null;
        if (premium && deductible && coinsuranceMax && coinsuranceRate &&
          savingsAccountType && savingsAccountContribution) {
          plan = {};
          plan.name = planName;
          plan.coverageLevel = coverageLevel;
          plan.premium = parseInt(premium, 10);
          plan.deductible = parseInt(deductible, 10);
          plan.coinsuranceMax = parseInt(coinsuranceMax, 10);
          plan.coinsuranceRate = coinsuranceRate / 100;
          plan.savingsAccountType = savingsAccountType;
          plan.savingsAccountContribution = savingsAccountContribution;
        }
        return plan;
      },
    });
  </script>
</dom-module>
