<!doctype html>
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/numeral-js/numeral-js.html">

<script>
/* global Highcharts:true */
</script>
<link rel="import" href="../../bower_components/numeral-js/numeral-js.html">
<link rel="import" href="../../bower_components/highcharts-chart/highcharts-chart.html">

<dom-module id="scenario-card">
  <template>
    <style>
      paper-card {
        box-sizing: border-box;
        max-width: 800px;
        margin: 4px;
        padding: 4px;
        flex: 0 0 auto;
      }
    </style>
    <paper-card heading="[[planName]]">
      <p>Total Healthcare Spending: <numeral-js number="[[totalHealthcareSpending]]" format="$0,0" print></numeral-js></p>
      <highcharts-chart type="pie" data="[[pieChartData]]" title="" color-by-point highchart-options="[[pieChartOptions]]"></highcharts-chart>
      <highcharts-chart type="column" data="[[columnData]]" title="" color-by-point highchart-options="[[columnChartOptions]]"></highcharts-chart>
    </paper-card>
  </template>
  <script>


    function arrayForProperty(objectArray, property, subproperty) {
      var returnValue = [];
      var i = 0;
      for (i = 0; i < objectArray.length; i += 1) {
        if (objectArray[i][property]) {
          returnValue.push(objectArray[i][property][subproperty]);
        }
      }
      return returnValue;
    }

    function sumForProperty(objectArray, property, subproperty) {
      var returnValue = 0;
      var i = 0;
      for (i = 0; i < objectArray.length; i += 1) {
        if (objectArray[i][property]) {
          returnValue += objectArray[i][property][subproperty];
        }
      }
      return Math.round(returnValue);
    }

    Polymer({
      is: 'scenario-card',
      properties: {
        scenario: {
          type: Object,
          notify: true,
        },
        planName: {
          type: String,
          computed: 'buildPlanName(scenario)',
        },
        totalHealthcareSpending: {
          type: Number,
          computed: 'calculateTotalHealthcareSpending(scenario)',
        },
        pieChartData: {
          type: Array,
          computed: 'buildPieChartData(scenario)',
        },
        pieChartOptions: {
          type: Object,
          value: function () {
            var options = {
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: false,
                  },
                  showInLegend: true,
                },
              },
            };
            return options;
          },
        },
        columnData: {
          type: Array,
          computed: 'buildColumnData(scenario)',
        },
        columnChartOptions: {
          type: Object,
          value: function () {
            var options = {
              plotOptions: {
                column: {
                  stacking: 'normal',
                },
              },
            };
            return options;
          },
        },
        dataVisColors: {
         type: Object,
         value: {
           "dv-light-yellow": "rgb(237,221,70)",
           "dv-dark-blue": "rgb(38,93,171)",
           "dv-dark-purple": "rgb(123,58,150)",
           "dv-basic-blue": "rgb(93,165,218)",
           "dv-light-orange": "rgb(251,178,88)",
           "dv-dark-orange": "rgb(223,92,36)",
           "dv-basic-brown": "rgb(178,145,47)",
           "dv-basic-red": "rgb(241,88,84)",
           "dv-dark-green": "rgb(5,151,72)",
           "dv-basic-grey": "rgb(77,77,77)",
           "dv-light-brown": "rgb(191,165,84)",
           "dv-dark-yellow": "rgb(199,180,46)",
           "dv-basic-green": "rgb(96,189,104)",
           "dv-light-pink": "rgb(246,170,201)",
           "dv-basic-gray": "rgb(77,77,77)",
           "dv-basic-orange": "rgb(250,164,58)",
           "dv-light-green": "rgb(144,205,151)",
           "dv-dark-pink": "rgb(229,18,111)",
           "dv-basic-purple": "rgb(178,118,178)",
           "dv-dark-red": "rgb(203,32,39)",
           "dv-basic-pink": "rgb(241,124,176)",
           "dv-light-gray": "rgb(140,140,140)",
           "dv-light-red": "rgb(240,126,110)",
           "dv-light-blue": "rgb(136,189,230)",
           "dv-light-grey": "rgb(140,140,140)",
           "dv-dark-brown": "rgb(157,114,42)",
           "dv-light-purple": "rgb(188,153,199)",
           "dv-basic-yellow": "rgb(222,207,63)",
           "dv-dark-gray": "rgb(0,0,0)",
           "dv-dark-grey": "rgb(0,0,0)"
          }
        },
      },
      buildPlanName(scenario) {
        var chartTitle = '';
        var employeePlanName;
        var spousePlanName;
        if (scenario.insuranceOption.employeePlan) {
          employeePlanName = scenario.insuranceOption.employeePlan.planName + ' - ' +
            scenario.insuranceOption.employeePlan.coverageLevel;
          chartTitle = employeePlanName;
        }
        if (scenario.insuranceOption.spousePlan) {
          spousePlanName = scenario.insuranceOption.spousePlan.planName;
          chartTitle = spousePlanName;
        }
        if (employeePlanName && spousePlanName) {
          chartTitle = employeePlanName + ' / ' + spousePlanName;
        }
        return chartTitle;
      },
      calculateTotalHealthcareSpending: function (scenario) {
        var total = 0;
        if (scenario.insuranceOption.employeePlan) {
          total += scenario.insuranceOption.employeePlan.premium;
          total += sumForProperty(scenario.performance, 'employee', 'paidFromDeductible');
          total += sumForProperty(scenario.performance, 'employee', 'paidFromCoinsurance');
        }

        if (scenario.insuranceOption.spousePlan) {
          total += scenario.insuranceOption.spousePlan.premium;
          total += sumForProperty(scenario.performance, 'spouse', 'paidFromDeductible');
          total += sumForProperty(scenario.performance, 'spouse', 'paidFromCoinsurance');
        }

        return total;
      },
      buildPieChartData: function (scenario) {
        var premiumEmployee = 0;
        var premiumSpouse = 0;
        var data;
        if (scenario.insuranceOption.employeePlan) {
          premiumEmployee = scenario.insuranceOption.employeePlan.premium;
        }
        if (scenario.insuranceOption.spousePlan) {
          premiumSpouse = scenario.insuranceOption.spousePlan.premium;
        }
        data = [
          {
            name: 'Employee Premium',
            y: premiumEmployee,
            color: this.dataVisColors["dv-light-blue"],
          },
          {
            name: 'Spouse Premium',
            y: premiumSpouse,
            color: this.dataVisColors["dv-dark-blue"],
          },
          {
            name: 'Employee Deductible',
            y: sumForProperty(scenario.performance, 'employee', 'paidFromDeductible'),
            color: this.dataVisColors["dv-light-orange"],
          },
          {
            name: 'Spouse Deductible',
            y: sumForProperty(scenario.performance, 'spouse', 'paidFromDeductible'),
            color: this.dataVisColors["dv-dark-orange"],
          },
          {
            name: 'Employee Coinsurance',
            y: sumForProperty(scenario.performance, 'employee', 'paidFromCoinsurance'),
            color: this.dataVisColors["dv-light-green"],
          },
          {
            name: 'Spouse Coinsurance',
            y: sumForProperty(scenario.performance, 'spouse', 'paidFromCoinsurance'),
            color: this.dataVisColors["dv-dark-green"],
          },
        ];
        return data;
      },
      buildColumnData: function (scenario) {
        var data;
        data = [
          {
            type: 'column',
            name: 'Insured Totally',
            data: arrayForProperty(scenario.performance, 'employee', 'insuredTotally'),
            stack: 'employee',
            color: this.dataVisColors["dv-light-purple"],
          },
          {
            type: 'column',
            name: 'Insured By Coinsurance',
            data: arrayForProperty(scenario.performance, 'employee', 'insuredByCoinsurance'),
            stack: 'employee',
            color: this.dataVisColors["dv-light-brown"],
          },
          {
            type: 'column',
            name: 'Paid From Coinsurance',
            data: arrayForProperty(scenario.performance, 'employee', 'paidFromCoinsurance'),
            stack: 'employee',
            color: this.dataVisColors["dv-light-green"],
          },
          {
            type: 'column',
            name: 'Paid From Deductible',
            data: arrayForProperty(scenario.performance, 'employee', 'paidFromDeductible'),
            stack: 'employee',
            color: this.dataVisColors["dv-light-orange"],
          },
          {
            type: 'column',
            name: 'Paid From Savings Account Contribution',
            data: arrayForProperty(scenario.performance, 'employee', 'paidFromSavingsContribution'),
            stack: 'employee',
            color: this.dataVisColors["dv-light-pink"],
          },
          {
            type: 'column',
            name: 'Insured Totally',
            data: arrayForProperty(scenario.performance, 'spouse', 'insuredTotally'),
            stack: 'spouse',
            color: this.dataVisColors["dv-dark-purple"],
          },
          {
            type: 'column',
            name: 'Insured By Coinsurance',
            data: arrayForProperty(scenario.performance, 'spouse', 'insuredByCoinsurance'),
            stack: 'spouse',
            color: this.dataVisColors["dv-dark-brown"],
          },
          {
            type: 'column',
            name: 'Paid From Coinsurance',
            data: arrayForProperty(scenario.performance, 'spouse', 'paidFromCoinsurance'),
            stack: 'spouse',
            color: this.dataVisColors["dv-dark-green"],
          },
          {
            type: 'column',
            name: 'Paid From Deductible',
            data: arrayForProperty(scenario.performance, 'spouse', 'paidFromDeductible'),
            stack: 'spouse',
            color: this.dataVisColors["dv-dark-orange"],
          },
          {
            type: 'column',
            name: 'Paid From Savings Account Contribution',
            data: arrayForProperty(scenario.performance, 'spouse', 'paidFromSavingsContribution'),
            stack: 'spouse',
            color: this.dataVisColors["dv-dark-pink"],
          },
        ];
        return data;
      },
    });
  </script>
</dom-module>
